<h1 class="haeding-get">Get graph database</h1>
<div class="btn-set">
  <h2>Download</h2>
  <%= render partial: 'button_tag', locals: { button_id: 'graph-database-d2rq', button_label: 'D2RQ Mapping' } %>
  <%= render partial: 'button_tag', locals: { button_id: 'graph-database-r2rml', button_label: 'R2RML Mapping' } %>
</div>
<div class="btn-set">
  <h2>RDF / SPARQL</h2>
  <%= render partial: 'button_tag', locals: { button_id: 'graph-database-rdf', button_label: 'RDF (Turtle)' } %>
  <%= render partial: 'button_tag', locals: { button_id: 'graph-database-sparql', button_label: 'SPARQL' } %>
</div>
