<div id="mapping_setting_wrapper" style="background-color:#EEEEEE; display:none;">
  <div id="mapping-table-list" style="background-color:#FFFAFA; display:none; padding:5px;"></div>
  <div id="mapping-setting" style="background-color:#FFFFE0; display:none; padding:5px;">
    <div id="mapping-setting-records"></div>
    <div id="mapping-setting-form"></div>
  </div>
</div>

<%
=begin
%>
<div id="user_defined_classes" style="background-color:#EEEEEE; display:none; padding:5px;"></div>
<div id="user_defined_properties" style="background-color:#EEEEEE; display:none; padding:5px;"></div>
<%
=end
%>

<div id="namespaces" style="background-color:#EEEEEE; display:none; padding:5px;"></div>

<div id="join_area" style="background-color:#EEEEEE; display:none; padding:5px;"></div>

<%
=begin
%>
<div id="create_view_area" style="background-color:#EEEEEE; display:none; padding:5px;"></div>
<%
=end
%>

<div id="d2rq_mapping_data_wrapper" style="background-color:#EEEEEE; display:none; padding:5px;">
  <div id="d2rq_mapping_data"></div>
  <div id="d2rq_mapping_download_form"></div>
</div>

<div id="d2rq_dumped_turtle_wrapper" style="background-color:#EEEEEE; display:none; padding:5px;"></div>

<div id="r2rml_mapping_data_wrapper" style="background-color:#EEEEEE; display:none; padding:5px;">
  <div id="r2rml_mapping_data"></div>
  <div id="r2rml_mapping_download_form"></div>
</div>

<div id="sparql_wrapper" style="background-color:#EEEEEE; display:none; padding:5px;">
  <div id="sparql-search-form"></div>
  <div style="background-color:#FFFFFF; margin-top:5px; padding:5px;">
    <%= image_tag 'arrow45-010.gif', id: "sparql-running-icon", style: "display:none;" %>
    <div id="sparql-result" style="display:none;"></div>
  </div>
</div>
