<% remote ||= false %>
<%= form_tag namespace_path(@work.id), method: :patch, remote: remote, class: "form-horizontal" do %>
  <h1 class="heading01">Namespaces</h1>
  <h2 class="heading02">Registered namespaces</h2>
  
  <div><%= render 'flash_message' %></div>
  <div id="namespaces-error-message"></div>
  <div id="namespaces-message"></div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <table id="namespace-list" class="table">
	<thead>
	  <tr>
	    <th>Prefix</th>
	    <th>URI</th>
	    <th class="text-right tight-side-padding">
	      <button id="namespace-add-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add form</button>
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <% @namespaces.each do |ns| %>
	    <%= render partial: 'namespaces/namespace_tr', locals: { prefix: ns[:prefix], uri: ns[:uri] } %>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>

  <div class="submit form-group">
    <button type="submit" class="btn btn-primary"><i class="fa fa-heart"></i>Save</button>
    <% if remote %>
      <button id="namespace-close-btn" type="button" class="btn btn-primary"><i class="fa fa-close"></i>Close</button>
    <% end %>
  </div>
<% end %>
