<tr>
  <th><%= text_field_tag "prefix[]", prefix, class: "form-control" %></th>
  <td><%= text_field_tag "uri[]", uri, class: "form-control" %></td>
  <td class="delete text-right tight-side-padding"><button type="button" class="btn btn-default btn-delete"><i class="fa fa-trash-o"></i></button></td>
</tr>
