<% content_for :head do %>
<title>Namespaces | D2RQ Mapper</title>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();

  $("#namespace-add-btn").click(function() {
    var html = "<%= j render(partial: 'namespace_tr', locals: { prefix: "", uri: "" }) %>";
    $("table#namespace-list > tbody").append(html);
    $("td.delete > button").bind("click", function() {
      $(this).closest("tr").remove();
    });
  });

  $("td.delete > button").click(function() {
    $(this).closest("tr").remove();
  });

  $("#namespaces-link").click(function() {
    return false;
  });
});
</script>
<% end %>

<div id="contents">
  <section id="side">
    <%= render partial: 'mappings/side_menu', locals: { current: 'namespaces', class_map: @enabled_class_maps[0] } %>
  </section>

  <section id="main">
    <%= render 'main_section' %>
  </section>
</div>
