<header id="header" class="clearfix">
  <div class="pull-left"><%= link_to image_tag('hdr_logo.svg', alt: "D2RQ Mapper"), root_path %></div>
  <div class="user pull-right text-right">
    <% if user_signed_in? %>
      <div class="dropdown">
	<p id="user-menu" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
	  <strong><%= current_user.username %></strong>
	  <span class="caret"></span>
	  <i class="fa fa-user"></i>
	</p>
	<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="user-menu">
	  <% if current_user.provider.to_s.blank? %>
	  <li role="presentation">
	    <%= link_to content_tag('i', '', class: "fa fa-pencil") + " Edit profile", edit_user_registration_path %>
	  </li>
	  <% end %>
	  <li role="presentation">
	    <%= link_to content_tag('i', '', class: "fa fa-sign-out") + " Log out", destroy_user_session_path, method: :delete %>
	  </li>
	</ul>	
      </div>
    <% end %>
  </div>
</header>
