<div class="pager-box">
  <ul class="pager">
    <li>
<% if @work %>
      <%= link_to menu_path(@work.id) do %>
	<i class="fa fa-angle-left"></i>Menu
      <% end %>
<% else %>
      <%= link_to menu_index_path do %>
	<i class="fa fa-angle-left"></i>Menu
      <% end %>
<% end %>
    </li>
    <% if next_link %>
      <li><a id="next-link" href="<%= href ? href : '#' %>">Next<i class="fa fa-angle-right"></i></a></li>
    <% end %>
  </ul>

  <% if current_user.username == 'togodb-demo' %>
    <ul class="pager">
      <li><a id="togodb-link" href="http://192.168.33.40:3000"><i class="fa fa-angle-left"></i>TogoDB</a></li>
    </ul>
  <% end %>
</div>
