<% placement ||= 'left' -%>
<span<% if placement == 'left' %> class="col-sm-1"<% end %> data-toggle="tooltip" data-placement="<%= placement %>" data-html="true" title="<%== title %>"><i class="fa fa-question-circle"></i></span>
